.footer{

width: 100%;
height: 70px;
background-color: black;
margin-top: 100px;
}

.footer__txt{
    
    color: aliceblue;
    font-size: 15px;
    text-align: start;
    margin-left: 30px;
    position: relative;
    top: 30px;
    font-family: Raleway, sans-serif;
}

@media (max-width:768px){
   
    .footer{
    
    width: 120%;
    height: 70px;
    background-color: black;
    margin-top: 100px;
    }
    
}
