.shopTitle {
  margin-top: 100px;
  text-align: center;
  font-size: 30px;
  font-family: Raleway, sans-serif;
}
.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.img__border{

border: solid 1px;
padding: 2px;

border-radius: 12px;

}

img:hover {
  transform: scale(1.03);
  transition: 0.5s;
}




.product {
  border-radius: 15px;
  width: 200px;
  height: 300px;
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  width: 300px;
}

.product .description {
  text-align: center;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
 padding: 10px;
  border-radius: 15px;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}



@media (max-width:768px){

  .products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr ;
    place-items: center;
    margin-left: 45px;
  }
  
  
.product {
  border-radius: 15px;
  width: 200px;
  height: 300px;
  margin: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.product img {
  width: 300px;
}

.img__border{

  border: solid 1px;
  padding: 1px;
  
  border-radius: 12px;
  
  }

  .shopTitle {
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    font-family: Raleway, sans-serif;
    margin-left: 100px;
  }
}
  