.contact{

    margin-left: 550px;
    width: 30%;

}
.contact__txt{

   background-color: rgba(250, 235, 215, 0.367);
text-align: center;
position: relative;
right: 100px;
}

.contact__email{

text-align: center;
position: relative;
right: 100px;
}

@media (max-width:768px){
    
    .contact{
    
 position: relative;
 right: 300px;
 bottom:500px;
 
 margin-top: 750px;
 
    
    }
    .contact__txt{
    
       background-color: rgba(250, 235, 215, 0.367);
       text-align: center;
       position: relative;
       right: 150px; 
       
       
    
    }
    
    .contact__email{
    
        text-align: center;
        font-size: 20px;
        background-color: rgba(250, 235, 215, 0.367);
        width: 350px;
position: relative;
right: 150px; 
    }




}


