@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.navbar {
  width: 100%;
  height: 80px;
  background-color: rgba(19, 19, 19, 0.96);
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.links {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
  
}


.logo{
color: rgb(255, 255, 255);
margin-right: 800px;
font-family: 'Great Vibes', cursive;
}



/* Style for the cart icon container */
.cart-icon {
  position: relative;
  margin-right: 20px; /* Adjust this margin as needed */
}

/* Style for the cart item count */
.cart-counter {
  position: absolute;
  top: -10px; /* Adjust the top position as needed */
  right: -10px; /* Adjust the right position as needed */
  background-color: #ff5722; /* Choose your desired background color */
  color: #fff; /* Choose your desired text color */
  font-size: 12px; /* Adjust the font size as needed */
  padding: 4px 8px; /* Adjust the padding as needed */
  border-radius: 50%; /* Make it a circle */
}




@media (max-width:768px){
  .navbar {
    width: 120%;
    height: 80px;
    background-color: rgba(19, 19, 19, 0.96);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
  }
 

  
.links {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 20px;
  
}


.logo{
  color: rgb(255, 255, 255);
  margin-right: 130px;
  font-family: 'Great Vibes', cursive;
  }
  
}
  